<h4 class="text-center"><b>Student Records</b></h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Class</th>
            <th>Percentage</th>
            <th>Marks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stud of studentData">

            <td>{{stud.firstname}}</td>
            <td>{{stud.lastname}}</td>
            <td>{{stud.class}}</td>
            <td>{{stud.percentage}}</td>
            <td>{{stud.marks}}</td>
        </tr>
    </tbody>


</table>